<a href="https://colab.research.google.com/github/aekanun2020/Data-Analytics-using-Python/blob/main/B_Python_Pandas_Dataframe_Basic_Properties_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Basic Properties**

In [1]:
# Create DataFrame with None/Null to work with examples
import pandas as pd
import numpy as np
technologies   = {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas",None,"Spark","Python"],
    'Fee' :[22000,25000,23000,24000,np.nan,25000,25000,22000],
    'Duration':['30day','50days','55days','40days','60days','35day','','50days'],
    'Discount':[1000,2300,1000,1200,2500,1300,1400,1600]
          }
row_labels=['r0','r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies, index=row_labels)
print(df)

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [2]:
df.shape #ดูขนาดของแต่ละแกน ทั้งแกน Row และแกน Column ตามลำดับ

(8, 4)

In [3]:
df.size #ดูจำนวน Element ใน Dataframe

32

In [4]:
df.empty #ดูว่า Dataframe นี้ว่างหรือไม่ (ว่าง หมายถึง Array ไม่ได้บรรจุค่าอะไรไว้เลย)

False

In [5]:
df.columns #ดู Column Index Label

Index(['Courses', 'Fee', 'Duration', 'Discount'], dtype='object')

In [6]:
df.columns.values #ดู Column Index Label ในโครงสร้างแบบ Array

array(['Courses', 'Fee', 'Duration', 'Discount'], dtype=object)

In [7]:
df.index #ดู Row Index Label

Index(['r0', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7'], dtype='object')

In [8]:
df.index.values #ดู Row Index Label ในโครงสร้างแบบ Array

array(['r0', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7'], dtype=object)

In [9]:
df.dtypes #ดู Data Type ของแต่ละ Columns ใน Dataframe

Courses      object
Fee         float64
Duration     object
Discount      int64
dtype: object

In [10]:
df.axes[0] #ดู Row Index Label

Index(['r0', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7'], dtype='object')

In [11]:
df.axes[1] #ดู Column Index Label

Index(['Courses', 'Fee', 'Duration', 'Discount'], dtype='object')

# **2. Basic Methods of Filtering**

In [12]:
len(df.index) #ดูขนาดของแกน Row

8

In [13]:
len(df.axes[0]) #ดูขนาดของแกน Row

8

In [14]:
len(df.columns) #ดูขนาดของแกน Column

4

In [15]:
len(df.axes[1]) #ดูขนาดของแกน Column

4

In [16]:
df.count() #นับ Element ของแต่ละ Columns ออกมา โดยที่ค่า NULL จะไม่ถูกนับ

Courses     7
Fee         7
Duration    8
Discount    8
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, r0 to r7
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Courses   7 non-null      object
 1   Fee       7 non-null      float64
 2   Duration  8 non-null      object
 3   Discount  8 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

**2.1 Basic Methods of Columns Filtering**

In [18]:
df['Fee'] # ตัดมาเฉพาะ Column 'Fee' แล้วนำไปใส่ไว้ในโครงสร้างแบบ Series

r0    22000.0
r1    25000.0
r2    23000.0
r3    24000.0
r4        NaN
r5    25000.0
r6    25000.0
r7    22000.0
Name: Fee, dtype: float64

In [19]:
df[['Fee']] # ตัดมาเฉพาะ Column 'Fee' แล้วนำไปใส่ไว้ในโครงสร้างแบบ Dataframe

        Fee
r0  22000.0
r1  25000.0
r2  23000.0
r3  24000.0
r4      NaN
r5  25000.0
r6  25000.0
r7  22000.0

**2.2 Basic Methods of Rows Filtering**

In [20]:
# ตัดมาเฉพาะ Row ที่มี 'Fee' มากกว่า 0
# สังเกตว่า เป็นการกรอง Row ด้วยการวางเงื่อนไขกับ Column
# และที่ r4 หายไปเพราะ r4 มี 'Fee' เป็น NaN ซึ่งก็คือ NULL

df.apply(lambda x: x[df['Fee'] > 0])

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [21]:
df[6:] # ตัดมาเฉพาะ Row ที่มี Row Index Position ที่ 6 เป็นต้นไปจนสิ้นสุด Dataframe

   Courses      Fee Duration  Discount
r6   Spark  25000.0               1400
r7  Python  22000.0   50days      1600

In [22]:
df[:6] # ตัดมาเฉพาะ Row นับตั้งแต่ Row แรก เป็นจำนวน 6 Rows

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300

In [23]:
# ตัดมาเฉพาะ Row Index Position ที่ 6 เป็นต้นไป จนส้ิ้นสุด 6 Row นับตั้งแต่ Row แรก
# ข้อสังเกต "6 Row นับตั้งแต่ Row แรก" นั่นเป็น Row Index Position ที่ 5 
# จึงเป็นเหตุให้ ไม่มีสิ่งใดแสดงผลออกมา

df[6:6]

Empty DataFrame
Columns: [Courses, Fee, Duration, Discount]
Index: []

In [24]:
df[6:7] # ตัดมาเฉพาะ Row Index Position ที่ 6 เป็นต้นไป จนส้ิ้นสุด 7 Row นับตั้งแต่ Row แรก

   Courses      Fee Duration  Discount
r6   Spark  25000.0               1400

In [25]:
df[:3] # ตัดมาเฉพาะ Row นับตั้งแต่ Row แรก เป็นจำนวน 3 Rows

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000

In [26]:
df[:-3] # ตัดมาเฉพาะ 5 Rows แรก (8-3 = 5)

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500

In [27]:
# เลือกมา 5 Rows แรก (8-3 = 5) ก่อน
# แล้วจึงนำสิ่งที่เลือกไปมา ไปตัดให้เหลือเฉพาะ Row Index Position ที่ 3 จนสิ้นสุด Row สุดท้าย

df[3:-3]

   Courses      Fee Duration  Discount
r3  Python  24000.0   40days      1200
r4  Pandas      NaN   60days      2500

**2.3 Basic Methods of Rows and Columns Filtering**

In [28]:
# เลือกมาทุก Rows แล้วตัดให้เหลือเฉพาะ Column 'Discount'
# ผลลัพธ์เป็น Series

df[:]['Discount']

r0    1000
r1    2300
r2    1000
r3    1200
r4    2500
r5    1300
r6    1400
r7    1600
Name: Discount, dtype: int64

In [29]:
# เลือกมาทุก Rows แล้วตัดให้เหลือเฉพาะ Column 'Discount'
# ผลลัพธ์เป็น Dataframe

df[:][['Discount']]

    Discount
r0      1000
r1      2300
r2      1000
r3      1200
r4      2500
r5      1300
r6      1400
r7      1600

In [30]:
# เลือกมาเฉพาะ Row Index Position ที่ 6 เป็นต้นไป จนส้ิ้นสุด 7 Row นับตั้งแต่ Row แรก
# แล้วนำมาตัดให้เหลือเฉพาะ Column 'Discount'

df[6:7][['Discount']]

    Discount
r6      1400

In [31]:
# เลือกมาเฉพาะ Row Index Position ที่ 6 เป็นต้นไป จนส้ิ้นสุด 7 Row นับตั้งแต่ Row แรก
# แล้วนำมาตัดให้เหลือเฉพาะ Column 'Discount' และ 'Courses'

df[6:7][['Discount','Courses']]

    Discount Courses
r6      1400   Spark

In [32]:
# ตัดมาเฉพาะ Row ที่มี 'Fee' เท่ากับ 22000
# สังเกตว่า เป็นการกรอง Row ด้วยการวางเงื่อนไขกับ Column

df[df['Fee'] == 22000]

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r7  Python  22000.0   50days      1600

# **ทางเลือกอื่นๆ**

In [33]:
## จำเป็นต้องใช้ .loc[] เนื่องจาก df[] อาจไม่สามารถระบุ row index label แบบกระโดดได้
df.loc[['r0','r3','r7']]

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r3  Python  24000.0   40days      1200
r7  Python  22000.0   50days      1600

In [34]:
## จำเป็นต้องใช้ .loc[] เนื่องจาก df[] อาจไม่สามารถตัดออกมาเพียง Single row ด้วย row index label ได้
df.loc[['r5']]

   Courses      Fee Duration  Discount
r5    None  25000.0    35day      1300