<a href="https://colab.research.google.com/github/aekanun2020/Data-Analytics-using-Python/blob/main/Homework_Python_Pandas_CoeffVariation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
! wget https://storage.googleapis.com/5-7sep2022/data/2008.csv

--2022-09-15 08:34:08--  https://storage.googleapis.com/5-7sep2022/data/2008.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.199.128, 74.125.20.128, 74.125.135.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.199.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [text/csv]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M   126MB/s    in 5.4s

2022-09-15 08:34:14 (122 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [4]:
! wc -l 2008.csv

7009729 2008.csv

In [5]:
f = "2008.csv"
num_lines = sum(1 for l in open(f))
size = int(num_lines / 100)
import random
skip_idx = random.sample(range(1, num_lines), num_lines - size)
raw_pd = pd.read_csv(f, skiprows=skip_idx)

In [6]:
#raw_pd = pd.read_csv("2008.csv")

In [7]:
raw_pd.head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1039.0,1030,1133.0,1140,WN,1244,...,2.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,1210.0,1200,1905.0,1850,WN,991,...,6.0,28.0,0,NaN,0,10.0,0.0,5.0,0.0,0.0
2,2008,1,3,4,2015.0,1945,2101.0,2040,WN,725,...,4.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,18.0
3,2008,1,3,4,2104.0,2105,2315.0,2330,WN,1915,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1727.0,1715,2012.0,2000,WN,324,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
raw_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70096 entries, 0 to 70095
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70096 non-null  int64
 1   Month              70096 non-null  int64
 2   DayofMonth         70096 non-null  int64
 3   DayOfWeek          70096 non-null  int64
 4   DepTime            68752 non-null  float64
 5   CRSDepTime         70096 non-null  int64
 6   ArrTime            68605 non-null  float64
 7   CRSArrTime         70096 non-null  int64
 8   UniqueCarrier      70096 non-null  object
 9   FlightNum          70096 non-null  int64
 10  TailNum            69265 non-null  object
 11  ActualElapsedTime  68569 non-null  float64
 12  CRSElapsedTime     70092 non-null  float64
 13  AirTime            68569 non-null  float64
 14  ArrDelay           68569 non-null  float64
 15  DepDelay           68752 non-null  float64
 16  Origin             70096 non-null  object
 17  Dest               70096 non-null  object
 18  Distance           70096 non-null  int64
 19  TaxiIn             68605 non-null  float64
 20  TaxiOut            68743 non-null  float64
 21  Cancelled          70096 non-null  int64
 22  CancellationCode   1358 non-null   object
 23  Diverted           70096 non-null  int64
 24  CarrierDelay       15358 non-null  float64
 25  WeatherDelay       15358 non-null  float64
 26  NASDelay           15358 non-null  float64
 27  SecurityDelay      15358 non-null  float64
 28  LateAircraftDelay  15358 non-null  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 15.5+ MB

In [9]:
raw_pd.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,70096.0,2008.000000,0.000000,2008.0,2008.0,2008.0,2008.0,2008.0
Month,70096.0,6.389209,3.400993,1.0,3.0,6.0,9.0,12.0
DayofMonth,70096.0,15.731754,8.774379,1.0,8.0,16.0,23.0,31.0
DayOfWeek,70096.0,3.925645,1.992748,1.0,2.0,4.0,6.0,7.0
DepTime,68752.0,1334.385632,479.616788,1.0,926.0,1326.0,1729.0,2400.0
CRSDepTime,70096.0,1326.583585,465.501452,1.0,925.0,1320.0,1715.0,2359.0
ArrTime,68605.0,1479.748429,507.771453,1.0,1103.0,1512.0,1909.0,2400.0
CRSArrTime,70096.0,1494.439925,484.257052,0.0,1111.0,1518.0,1906.0,2400.0
FlightNum,70096.0,2223.324555,1964.500072,1.0,616.0,1566.0,3537.5,7829.0
ActualElapsedTime,68569.0,127.157754,69.881428,18.0,77.0,110.0,157.0,642.0
CRSElapsedTime,70092.0,128.655724,69.043143,2.0,80.0,111.0,158.0,660.0
AirTime,68569.0,103.837740,67.142105,4.0,55.0,86.0,132.0,619.0
ArrDelay,68569.0,8.317840,39.198188,-64.0,-10.0,-2.0,12.0,1350.0
DepDelay,68752.0,10.121276,36.066760,-67.0,-4.0,-1.0,8.0,1348.0
Distance,70096.0,724.593700,558.884090,31.0,325.0,581.0,951.0,4962.0
TaxiIn,68605.0,6.887209,4.925589,0.0,4.0,6.0,8.0,130.0
TaxiOut,68743.0,16.442241,11.358201,0.0,10.0,14.0,19.0,305.0
Cancelled,70096.0,0.019373,0.137835,0.0,0.0,0.0,0.0,1.0
Diverted,70096.0,0.002411,0.049043,0.0,0.0,0.0,0.0,1.0
CarrierDelay,15358.0,15.951231,41.533023,0.0,0.0,0.0,16.0,1348.0
WeatherDelay,15358.0,2.938664,19.380979,0.0,0.0,0.0,0.0,632.0
NASDelay,15358.0,17.023245,30.929059,0.0,0.0,6.0,21.0,498.0
SecurityDelay,15358.0,0.055346,1.258867,0.0,0.0,0.0,0.0,101.0
LateAircraftDelay,15358.0,21.100013,40.743334,0.0,0.0,0.0,26.0,917.0

In [10]:
describe_pd = pd.DataFrame(raw_pd.describe().transpose())

In [11]:
describe_pd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, Year to LateAircraftDelay
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   24 non-null     float64
 1   mean    24 non-null     float64
 2   std     24 non-null     float64
 3   min     24 non-null     float64
 4   25%     24 non-null     float64
 5   50%     24 non-null     float64
 6   75%     24 non-null     float64
 7   max     24 non-null     float64
dtypes: float64(8)
memory usage: 2.2+ KB